* {
    font-size: 25px;
}

body {
    margin: 0px;
}

h1, h2 {
    color: red;
}

h1:hover {
    color: aqua;
    cursor: pointer;
}

p {
    color: blue;
}

.categoriesH2 {
    color: orange;
}

.categoriesH2:hover {
    color: #ffbe00;
}

.card img {
    width: 200px;
    height: 200px;
}

#titles {
    background-color: aqua;
}